{{ define "main" }}
  {{/* セクションの一覧ページ（センター紹介・各種サービス・講演会など）．

       以前はカードを w-40 の幅で justify-around に並べていたため，
       カード間の間隔が行ごとに変わっていた．グリッドに置き換える． */}}
  <article class="flex-l flex-wrap justify-between mw9 center ph3">

    <div class="w-20-l dn-mobile mt4 sticky">
      <aside class="pl3">
        {{- partial "pages-pannel.html" . -}}
      </aside>
    </div>

    <div class="w-75-l mt4">
      {{/* 導入文（_index.md の本文）は出さない．
           下のカードが各サービスを 1 枚ずつ説明しており，
           同じことを言い直しているだけになるため．
           節の説明としてはトップページの各種サービスの節で使っている． */}}
      <ul class="card-grid">
        {{ range .Paginator.Pages }}
          <li>{{ .Render "summary" }}</li>
        {{ end }}
      </ul>

      {{- template "_internal/pagination.html" . -}}
    </div>

  </article>
{{ end }}
